extends layout

block content
  .jumbotron
    .container
      h2
        ログイン
      .form-group
        form(action="/chat", method="post")
          .col-lg-6
            .input-group
              span.input-group-addon
                ユーザ名
              input.form-control(type="text", name="username" placeholder="ユーザー名" required autofocus maxlength="10")
              span.input-group-btn
                button.btn.btn-success(type="submit")
                  span.glyphicon.glyphicon-log-in
                    ログイン


